.home-container {
  padding: 20px;
  font-family: sans-serif;
}

.home-content {
  text-align: center;
  margin-top: 50px;
}

.grid-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card-btn {
  padding: 20px;
  width: 250px;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 12px;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
}

.card-btn h3 {
  margin: 0;
}

.card-btn p {
  margin: 10px 0 0;
}

@media (max-width: 768px) {
  .grid-container {
    flex-direction: column;
    align-items: center;
  }
}
